# Database config
PGPOOL_USER=your_user
PGPOOL_PASSWORD=your_password
PGPOOL_DB=your_db
PGPOOL_HOST=localhost
PGPOOL_PORT=5433

# Auth & security
JWT_SECRET_KEY=your_jwt_secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION=3600  # in seconds

# Domain
GLOBAL_DOMAIN=daudoo.com
LIST_DOMAIN=gauphim.daudoo.com,gautruyen.daudoo.com

# Email (SMTP)
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Twilio
TWILIO_ACCOUNT_SID=AC693d1b7xxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=706dd527763a3xxxxxxxxxxxxxxxx



