# Ignore YAML files in any "base" folder
*/base/*.yaml

# Do NOT ignore YAML files in any "template" folder
!*/template/*.yaml

# Common ignores
venv/
.env
*.env

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.log

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.eggs/

# Secrets and sensitive data
secrets/
*.key
*.crt
