# Database config
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGPOOL_ADMIN_USERNAME=your_pgpool_user
PGPOOL_ADMIN_PASSWORD=your_pgpool_password

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

