#Email Sender
EXPORT EMAIL_SENDER_HOST=smtp.example.com
EXPORT EMAIL_SENDER_PORT=587
EXPORT EMAIL_SENDER_USERNAME="example"
EXPORT EMAIL_SENDER_PASSWORD="example_password"

# Twilio
EXPORT TWILIO_ACCOUNT_SID=your_twilio_account_sid
EXPORT TWILIO_AUTH_TOKEN=your_twilio_auth_token
EXPORT TWILIO_PHONE_NUMBER=your_twilio_phone_number

# RabbitMQ
EXPORT RABBITMQ_HOST=localhost
EXPORT RABBITMQ_PORT=5672
EXPORT RABBITMQ_USER=your_rabbitmq_user
EXPORT RABBITMQ_PASSWORD=your_rabbitmq_password

# Redis
EXPORT REDIS_ADDRESS=localhost:6379
EXPORT REDIS_PASSWORD=your_redis_password
EXPORT REDIS_PORT=6379

# JWT Secret Key
EXPORT JWT_SECRET_KEY=your_jwt_secret_key

# Global Domain
EXPORT GLOBAL_DOMAIN=your_global_domain
EXPORT ALLOWED_ORIGINS=http://localhost:3000,http://yourdomain.com

# Meilisearch
EXPORT MEILI_MASTER_KEY=your_meili_key
EXPORT MEILI_HOST=localhost
EXPORT MEILI_PORT=7700

# PostgreSQL
EXPORT POSTGRES_USER=your_postgres_user
EXPORT POSTGRES_PASSWORD=your_postgres_password
EXPORT POSTGRES_HOST=localhost
EXPORT POSTGRES_PORT=5432


